* {
	margin: 0;
	padding: 0;
}

a {
	color: #3b5998;
	text-decoration: none;
}

.hidden {
	display: none;
}

body {
	background-color: White;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Univers', Sans-serif;
}

div#content {
	width: 600px;
	margin: 1em auto;
	padding: 1em;
	border: solid thin rgb(220, 220, 220);
}

h1 {
	color: rgb(100, 100, 100);
	font-size: x-large;
}

p {
	margin-top: 0.5em;
	font-size: small;
	color: rgb(150, 150, 150);
}

p#account-info-message::after,
p#qr-info-message::after {
	content: ':';
}

p#blank-input-message {
	margin: 0;
	color: rgb(255, 100, 100);
}

input {
	width: 11em;
	margin: 0 0.1em;
	
	font-size: large;
	border: solid thin rgb(220, 220, 220);
	border-radius: 0.1em;
	padding: 0.3em;
}

input:first-of-type {
	margin-left: 0;
}

input:last-of-type {
	margin-right: 0.2em;
}

section#qr-image {
	margin-top: 2em;
}

h2 {
	font-size: large;
	color: rgb(100, 100, 255);
}

button {
	padding: 0.3em 1em;
	height: 2.6em;
	
	font-size: small;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	
	color: rgb(100, 100, 100);
	-webkit-transition: color 0.3s 0s;
	-moz-transition: color 0.3s 0s;
	-o-transition: color 0.3s 0s;
	transition: color 0.3s 0s;
	
	background-color: rgb(237, 235, 232);
	border: solid thin rgb(200, 200, 200);
	border-bottom: solid thin rgb(140, 140, 140);
	text-shadow: rgb(230, 230, 230) 0px 1px;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	background: -moz-linear-gradient(bottom, rgb(210, 210, 210), rgb(237, 235, 232));
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(210, 210, 210)), to(rgb(237, 235, 232)));
}

button:hover {
	color: Black;
	cursor: pointer;
}

button:active {
	border-bottom: solid thin rgb(200, 200, 200);
	text-shadow: none;
	
	background-color: rgb(237, 235, 232);
	background: -moz-linear-gradient(bottom, rgb(237, 235, 232), rgb(230, 230, 230));
	background: -webkit-gradient(linear, left bottom, left top, from(rgb(237, 235, 232)), to(rgb(230, 230, 230)));
}
